<div class="wrapper">
    <div class="leftSide">
        <img src="/assets/SOT_Doggos.jpg" alt="DoggosOnAShip">
    </div>
    <form class="loginForm rightSide">
        <span class="name poppins-bold">SoT Tracker</span>
        <!-- <h2 class="poppins-regular">Login</h2> -->
        <div>
            <input name="username" type="text" placeholder="Username" class="poppins-medium">
            <input name="password" type="password" placeholder="Password" class="poppins-medium">
        </div>
        <button type="submit" id="loginButton" class="poppins-bold ">
            Login
            <mat-icon class="material-icons-outlined">keyboard_arrow_right</mat-icon>
        </button>
        <span class="signup">No Account yet? <a class="poppins-bold" routerLink="/signup">Sign Up</a> here!</span>
    </form>
</div>