<nav>
  <ul>
      <li class="poppins-light"><a routerLink="/">
          <!-- <mat-icon class="material-icons-thin">expand_more</mat-icon> -->
          Home
      </a></li>
      <li class="poppins-light"><a routerLink="/commendations">
          Commendations
      </a></li>
      <li class="poppins-light"><a routerLink="/achievements">
          Achievements
      </a></li>
      <li>
        <button id="loginButton" class="poppins-semibold" routerLink="/login">Login</button>
      </li>
  </ul>
</nav>
<main>
  <router-outlet />
</main>
<!-- <footer *ngIf="checkRoute()">
  aaaa
</footer> -->